<% content_for :title, @camdram_show.name %>
<% content_for :heading, @camdram_show.name %>
<% content_for :controller_links do %>
  <%= link_to 'Go Back', :back, class: 'btn btn-outline-secondary my-md-1' %>
  <%= link_to 'Setup Integrations', edit_camdram_show_path(@camdram_show),
    class: 'btn btn-outline-primary my-md-1' if can? :update, @camdram_show %>
  <%= link_to 'View on Camdram', @camdram_show.url, class: 'btn btn-outline-info my-md-1' %>
<% end %>

<%= content_tag(:h4, 'Booking Quotas for This Week') %>
<table class="table table-sm table-striped">
  <tbody>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Rehearsals:', style: 'width: 10%;') %>
      <%= content_tag(:td, progress_bar(@quota[0], @camdram_show.max_rehearsals)) %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Auditions:', style: 'width: 10%;') %>
      <%= content_tag(:td, progress_bar(@quota[1], @camdram_show.max_auditions)) %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Meetings:', style: 'width: 10%;') %>
      <%= content_tag(:td, progress_bar(@quota[2], @camdram_show.max_meetings)) %>
    <% end %>
  </tbody>
</table>

<%= content_tag(:h4, 'Bookings:') %>
<div class="d-flex flex-wrap mb-3">
  <% if @camdram_show.bookings.count == 0 %>
    <span class="badge badge-pill badge-light mr-1 mb-1">None!</span>
  <% else %>
    <% @camdram_show.bookings.each do |booking| %>
      <%= link_to booking.name, booking_path(booking), class: 'badge badge-pill badge-secondary mr-1 mb-1' %>
    <% end %>
  <% end %>
</div>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col col-sm-12 col-lg-8' do %>
    <%= content_tag(:h4, 'Description') %>
    <%= Roombooking::Markdown.render_like_camdram(@external_show.description) %>
  <% end %>
  <%= content_tag :div, nil, class: 'd-sm-none w-100' %>
  <%= content_tag :div, class: 'col col-sm-12 col-lg-4' do %>
    <%= content_tag(:h4, 'Performances:') %>
    <ul class="list-group list-group-flush">
      <% @external_show.performances.each do |performance| %>
        <% (performance.start_at.to_date..performance.repeat_until.to_date).each do |date| %>
          <li class="list-group-item list-group-item-compact">
            <%= performance.start_at.in_time_zone('London').strftime('%R') %> on
            <%= date %> at <%= performance.venue.try(:name) || performance.other_venue %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
