<div class="calendar-nav mx-auto">
  <%= link_to '⬅ Previous', calendar.url_for_previous_view %>
  <span class="calendar-title mx-3">
    <% week_start_date = start_date.at_beginning_of_week %>
    <%= @venue.name %> bookings for the week of <%= week_start_date.strftime("%a #{week_start_date.day.ordinalize} %b") %>
  </span>
  <%= link_to 'Next ➡', calendar.url_for_next_view %>
</div>

<div class="calendar mt-3">
  <table class="calendar">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-center"><%= day.strftime("%A #{day.day.ordinalize}") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <%= content_tag :div, class: 'column' do %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
