<div class="calendar-nav d-flex justify-content-center my-0">
  <%= link_to fa_icon('arrow-circle-o-left', class: 'd-none d-md-inline-block', text: 'Previous'), calendar.url_for_previous_view, class: 'mx-2' %>
  <!-- This is a test -->
  <span>
    <% week_start_date = start_date.at_beginning_of_week %>
    <%= @room.name %> bookings for the week of <%= written_date_with_month week_start_date %>
  </span>
  <%= link_to fa_icon('arrow-circle-o-right', class: 'd-none d-md-inline-block', text: 'Next', right: true), calendar.url_for_next_view, class: 'mx-2' %>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-sm calendar">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-center"><%= written_date day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <%= content_tag :td do %>
              <% block.call(day, sorted_events.fetch(day, [])) %>
            <% end %>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>
