<div class="calendar-nav d-flex justify-content-center my-0">
  <%= link_to calendar.url_for_previous_view, class: 'mx-2' do %>
    <i class="fa fa-arrow-circle-o-left d-none d-md-inline-block"></i> Previous
  <% end %>
  <span>
    <% week_start_date = start_date.at_beginning_of_week %>
    <%= @room.name %> bookings for the week of <%= written_date_with_month week_start_date %>
  </span>
  <%= link_to calendar.url_for_next_view, class: 'mx-2' do %>
    Next <i class="fa fa-arrow-circle-o-right d-none d-md-inline-block"></i>
  <% end %>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-sm calendar">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-center"><%= written_date day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <%= content_tag :td do %>
              <% block.call(day, sorted_events.fetch(day, [])) %>
            <% end %>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>
