<% content_for :title, 'Admin' %>
<% content_for :heading, 'Site Admin' %>

<p>
  Use the options here and on following pages to configure this instance of Room Booking.
  Everything on this page is accessible to administrators only.
</p>

<%= content_tag :div, class: 'row my-3' do %>
  <%= content_tag :div, class: 'col-12' do %>
    <%= content_tag :div, class: 'card' do %>
      <%= content_tag :div, 'Setup Booking Entities', class: 'card-header' %>
      <%= content_tag :div, class: 'card-body' do %>
        <%= content_tag :p, 'Configure shows and societies from Camdram to allow them to make bookings within limits you define.', class: 'card-text mb-3' %>
        <%= link_to 'Configure Shows', admin_camdram_shows_path, class: 'btn btn-primary mt-1' %>
        <%= link_to 'Configure Societies', admin_camdram_societies_path, class: 'btn btn-primary mt-1' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row my-3' do %>
  <%= content_tag :div, class: 'col-12 col-md-6' do %>
    <%= content_tag :div, class: 'card' do %>
      <%= content_tag :div, 'Configure Site', class: 'card-header' %>
      <%= content_tag :div, class: 'card-body' do %>
        <%= content_tag :p, 'Set things up in exactly the way that you want.', class: 'card-text mb-3' %>
        <%= link_to 'Site Info', admin_site_info_path, class: 'btn btn-primary mt-1' %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'col-12 col-md-6 mt-3 mt-md-0' do %>
    <%= content_tag :div, class: 'card' do %>
      <%= content_tag :div, 'Backup Site', class: 'card-header' %>
      <%= content_tag :div, class: 'card-body' do %>
        <%= content_tag :p, 'Download a machine-readable copy of all data stored on the system.', class: 'card-text mb-3' %>
        <%= link_to 'Download Backup', admin_backup_path, class: 'btn btn-primary mt-1' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<hr class="my-4">

<p>
  The following actions could potentially break the site and are recomended for advanced users only.
  If you feel like you're having to come here often then you should probably file a bug report or new feature request.
  <strong>
    Here be dragons!
  </strong>
</p>

<%= content_tag :div, class: 'row my-3' do %>
  <%= content_tag :div, class: 'col-12 col-md-6' do %>
    <%= content_tag :div, class: 'card' do %>
      <%= content_tag :div, 'Sidekiq Jobs', class: 'card-header' %>
      <%= content_tag :div, class: 'card-body' do %>
        <%= content_tag :p, 'View the background job queue and worker/mailer statuses.', class: 'card-text mb-3' %>
        <%= link_to 'Go to Sidekiq', sidekiq_path, class: 'btn btn-primary mt-1' %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'col-12 col-md-6 mt-3 mt-md-0' do %>
    <%= content_tag :div, class: 'card' do %>
      <%= content_tag :div, 'Back Office', class: 'card-header' %>
      <%= content_tag :div, class: 'card-body' do %>
        <%= content_tag :p, 'Access the site back end and edit model data manually.', class: 'card-text mb-3' %>
        <%= link_to 'Go to Back Office', rails_admin_path, class: 'btn btn-primary mt-1' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
