<% content_for :title, 'Admin' %>
<% content_for :heading, 'Site Admin' %>

<p>
  Use the options here to configure this instance of Room Booking.
  Everything on this page is accessible to administrators only.
</p>

<%= content_tag :div, class: 'card' do %>
  <%= content_tag :div, 'Setup Booking Entities', class: 'card-header' %>
  <%= content_tag :div, class: 'card-body' do %>
    <%= content_tag :p, 'Configure shows and societies from Camdram to allow them to make bookings within limits you define.', class: 'card-text' %>
    <%= link_to 'Configure Shows', admin_view_shows_path, class: 'btn btn-primary' %>
    <%= link_to 'Configure Societies', admin_view_societies_path, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<hr class="my-4">

<p>
  The following actions could potentially break the site and are recomended for advanced users only.
  If you feel like you're having to come here often then you should probably file a bug report or new feature request.
  <strong>
    Here be dragons!
  </strong>
</p>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col' do %>
    <%= content_tag :div, class: 'card' do %>
      <%= content_tag :div, 'Sidekiq Jobs', class: 'card-header' %>
      <%= content_tag :div, class: 'card-body' do %>
        <%= content_tag :p, 'View the background job queue and worker/mailer statuses.', class: 'card-text' %>
        <%= link_to 'Go to Sidekiq', sidekiq_path, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'col' do %>
    <%= content_tag :div, class: 'card' do %>
      <%= content_tag :div, 'Back Office', class: 'card-header' %>
      <%= content_tag :div, class: 'card-body' do %>
        <%= content_tag :p, 'Access the site back end and edit model data manually.', class: 'card-text' %>
        <%= link_to 'Go to Back Office', rails_admin_path, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
