<% content_for :title, 'Configure Societies' %>
<% content_for :heading, 'Configure Societies' %>

<p>
  Here you can import societies from Camdram that aren't yet known to the internals of Room Booking.
  Once they're imported you can activate and deactivate them, as well as set limits on the number of bookings they're allowed.
</p>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Name') %>
      <%= content_tag(:td, 'Actions') %>
    <% end %>
  </thead>
  <tbody>
    <% @societies.each do |society| %>
      <%= content_tag :tr do %>
        <%= content_tag(:td, society.name) %>
        <%= content_tag :td do %>
          <%= actions_for_society society %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
