<% content_for :title, 'Contact' %>
<% content_for :heading, 'Contact' %>

<p>
  The ADC Room Booking System is operated by the theatre's managing staff who are happy to help!
  Please check the <%= link_to 'frequently asked questions', page_path('faq') %> before using this form.
</p>

<p class="mb-4">
  Whilst the Room Booking System is a relatively new application, it is monitored continuously and errors are usually detected and fixed quickly.
  However if you've found something that isn't quite working correctly, please create an 'issue' on the project <%= link_to 'GitHub page', 'https://github.com/CHTJonas/roombooking' %>, rather than using this form.
</p>

<%= form_with model: @email, url: contact_path, local: true do |form| %>
  <div class="form-group row">
    <%= form.label :from, 'Your Email', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :from, value: @email.from || current_user.try(:email), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :subject, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :subject, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :body, 'Message', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_area :body, rows: 10, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <%= form.label :recaptcha, 'Recaptcha', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= recaptcha_tags %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-sm-10">
      <%= form.submit 'Send', class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
