<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong class="text-gray-dark"><%= booking.name %></strong>
      <%= link_to 'View', booking_path(booking) %>
    </div>
    <span class="d-block">
      <%= booking.user.name %> has booked <%= booking.room.name %>
      from <%= booking.start_time.strftime("%H:%M") %> to <%= booking.end_time.strftime("%H:%M") %>
      on <%= booking.start_time.strftime("%d/%m/%y") %>.
    </span>
  </div>
</div>
