<%= form_with model: @booking, local: true do |form| %>

  <div class="form-group row">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :notes, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :notes, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :when, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :start_time, class: 'form-control flatdatetimepickr form-control-enabled',
        value: british_date_with_time(@booking.start_time) %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :length, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :length, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :room_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_select :room_id, Room.all.order(:id), :id, :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :repeat_mode, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-auto">
      <% Booking.repeat_modes.keys.each do |mode| %>
        <%= content_tag :div do %>
          <%= form.radio_button :repeat_mode, mode %>
          <%= form.label mode.to_sym %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-auto">
      <%= form.label :until %>
      <%= form.text_field :repeat_until, class: 'form-control flatdatepickr form-control-enabled',
        value: british_date(@booking.repeat_until) %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :purpose, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <% Booking.purposes.keys.each do |purpose| %>
        <% next if Booking.admin_purposes.find_index(purpose.to_sym) && !user_is_admin? %>
        <%= content_tag :div do %>
          <%= form.radio_button :purpose, purpose %>
          <%= form.label purpose.to_sym %>
          <% @items = nil %>
          <% @items = @shows if Booking.purposes_with_shows.find_index(purpose.to_sym) %>
          <% @items = @societies if Booking.purposes_with_societies.find_index(purpose.to_sym) %>
          <%= form.collection_select("camdram_id_#{purpose}".to_sym, @items, :id, :name,
            class: 'form-control', selected: (@booking.camdram_model.id if @booking.camdram_model)) if @items %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-sm-10">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
