<%= form_with model: @booking, local: true do |form| %>

  <div class="form-group row">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :notes, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :notes, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :when, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :start_time, class: 'form-control flatdatetimepickr form-control-enabled',
        value: british_date_and_time(@booking.start_time) %>
      <small id="booking_start_time_management_hours_hint" class="form-text text-secondary"></small>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :length, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :length, class: 'form-control' %>
      <small id="booking_length_management_hours_hint" class="form-text text-secondary"></small>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :room_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_select :room_id, Room.all.order(:id), :id, :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :attendees, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <small class="form-text text-muted mb-2">
        You must make a list of all those who will be present during the course of your booking.
        Type their name followed by their email address enclosed in angle brackets.
        Up to six people may attend a single booking.
      </small>
      <%= form.text_area :attendees_text, rows: 6, placeholder: 'Jon Warbrick <jw35@cam.ac.uk>', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :repeat_mode, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-auto">
      <% Booking.repeat_modes.keys.each do |mode| %>
        <%= content_tag :div do %>
          <%= form.radio_button :repeat_mode, mode %>
          <%= form.label mode.to_sym %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-auto">
      <%= form.label :until %>
      <%= form.text_field :repeat_until, class: 'form-control flatdatepickr form-control-enabled',
        value: british_date(@booking.repeat_until) %>
    </div>
    <div class="col-sm-auto">
      <%= form.label :excluded_dates %>
      <%= form.text_field :excluded_repeat_dates, class: 'form-control flatdaterangepickr form-control-enabled' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :purpose, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <% Booking.purposes.keys.each do |purpose| %>
        <% next if Booking.admin_purposes.include?(purpose.to_sym) && !user_is_admin? %>
        <%= content_tag :div do %>
          <%= form.radio_button :purpose, purpose %>
          <%= form.label purpose.to_sym %>
          <% @items = nil %>
          <% @items = @shows if Booking.purposes_with_shows.include?(purpose.to_sym) %>
          <% @items = @societies if Booking.purposes_with_societies.include?(purpose.to_sym) %>
          <%= form.collection_select("camdram_id_#{purpose}".to_sym, @items, :id, :name,
            class: 'form-control', selected: (@booking.camdram_model.id if @booking.camdram_model)) if @items %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-sm-12">
      <%= form.submit class: 'btn btn-outline-primary' %>
      <small class="form-text text-muted mt-4">
        Please note that bookings which take place outside Management office hours (11am to 6pm) are currently forbidden due to the COVID-19 pandemic.
      </small>
    </div>
  </div>
<% end %>
