<% content_for :title, 'Bookings' %>
<% content_for :heading, 'Recent Bookings' %>
<% content_for :controller_links do %>
  <%= link_to 'New booking', new_booking_path %>
<% end if can? :create, Booking %>

<% unless user_logged_in? %>
  <p>
    You must log in to make a new booking.
  </p>
<% end %>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4 border border-secondary rounded py-3 mb-4">
        <h4><%= booking.name %></h4>
        <p>From <%= booking.start_time.strftime("%H:%M") %> to <%= booking.end_time.strftime("%H:%M") %> on <%= booking.start_time.strftime("%d/%m/%y") %>.</p>
        <%= link_to 'View details »', booking_path(booking), class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
