<% content_for :title, @booking.name %>
<% content_for :heading, 'Booking Details' %>
<% content_for :controller_links do %>
  <p class="mb-0"><%= link_to 'Edit', edit_booking_path(@booking) %></p>
  <p class="mb-0"><%= link_to 'Destroy', booking_path(@booking), method: :delete, data: {confirm: "Are you sure you want to delete #{@booking.name}?"} %></p>
<% end if user_signed_in? %>

<table class="table table-sm table-striped table-bordered">
  <tbody>
    <%= render @booking %>
  </tbody>
</table>

<% if !@booking.notes.blank? %>
  <%= content_tag(:h4, 'Notes') %>
  <%= tag.p @booking.notes %>
<% end %>

<%= render 'backfooter' %>
