<% content_for :title, @booking.name %>
<% content_for :heading, 'Booking Details' %>
<% content_for :controller_links do %>
  <p class="mb-0"><%= link_to 'Edit', edit_booking_path(@booking) %></p>
  <p class="mb-0"><%= delete_confirm 'Delete', @booking %></p>
  <% if can?(:approve, @booking) && !@booking.approved? %>
    <%= form_with model: @booking, local: true do |form| %>
      <%= form.hidden_field :approved, value: true %>
      <%= form.submit 'Approve', id: 'approval', class: 'btn btn-link' %>
    <% end %>
  <% end %>
<% end if can? :crud, @booking %>

<table class="table table-sm table-striped table-bordered">
  <tbody>
    <%= render @booking %>
  </tbody>
</table>

<% unless @booking.notes.blank? %>
  <%= content_tag(:h4, 'Notes') %>
  <%= tag.p @booking.notes %>
<% end %>

<%= render 'backfooter' %>
