<% content_for :title, @booking.name %>
<% content_for :heading, 'Booking Details' %>
<% content_for :controller_links do %>
  <% if can?(:approve, @booking) %>
    <%= form_with model: @booking, local: true do |form| %>
      <%= form.hidden_field :approved, value: !@booking.approved? %>
      <% if @booking.approved? %>
        <%= form.submit 'Unapprove', class: 'btn btn-outline-warning' %>
      <% else %>
        <%= form.submit 'Approve', class: 'btn btn-outline-warning' %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to 'Edit', edit_booking_path(@booking), class: 'btn btn-outline-primary' %>
  <%= link_to 'Delete', booking_path(@booking), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
<% end if can? :crud, @booking %>

<table class="table table-sm table-striped table-bordered">
  <tbody>
    <%= render @booking %>
  </tbody>
</table>

<% unless @booking.notes.blank? %>
  <%= content_tag(:h4, 'Notes') %>
  <%= tag.p @booking.notes %>
<% end %>

<%= render 'backfooter' %>
