<% content_for :title, 'Users' %>
<% content_for :heading, 'Registered Users' %>

<p>
  Only administrators can view a list of all registered users.
</p>

<p>
  <%= page_entries_info @users %>
</p>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Full Name') %>
      <%= content_tag(:td, 'Email Address') %>
    <% end %>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= content_tag :tr do %>
        <%= content_tag(:td, link_to(user.name, user)) %>
        <%= content_tag(:td, user.email) %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
