<% content_for :title, @user.name %>
<% content_for :heading, 'User Details' %>
<% content_for :controller_links do %>
  <%= link_to 'Back to Users', users_path, class: 'btn btn-outline-secondary' %>
  <%= link_to 'Impersonate', impersonate_user_path(@user), method: :post, class: 'btn btn-outline-warning' unless @user == current_user || @user == impersonator %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary' if can? :crud, @user %>
<% end %>

<p>
  This page list all the information we have on file for you, including your email which is used for notifications.
  Please take a moment to make sure it's accurate!
  Nobody else can view this page and we promise never to share this data with anyone.
  Any shows or societies which you can make booking on behalf of will also be listed below.
  You'll need to be authorised as an 'admin' for that show or society on Camdram for it to appear.
</p>

<%= content_tag :div, class: 'row no-gutters' do %>
  <%= content_tag :div, class: 'col-md-auto' do %>
    <%= content_tag :div, class: 'container' do %>
      <%= gravatar_image_tag(@user.email, alt: @user.name, class: 'rounded mx-auto d-block', gravatar: { size: 200, secure: true }) %>
      <p class="text-center"><%= link_to 'Setup Gravatar', 'https://en.gravatar.com' %></p>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'col' do %>
    <table class="table table-sm table-striped table-bordered mb-0">
      <tbody>
        <%= render @user %>
      </tbody>
    </table>
  <% end %>
<% end %>

<hr class="my-4">

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col' do %>
    <% if @user == current_user %>
      <%= content_tag(:h4, 'My Shows:') %>
    <% else %>
      <%= content_tag(:h4, "User's Shows:") %>
    <% end %>
    <ul>
      <% if @camdram_shows.count == 0 %>
        <li>
          None!
        </li>
      <% else %>
        <%= render @camdram_shows %>
      <% end %>
    </ul>
  <% end %>
  <%= content_tag :div, class: 'col' do %>
    <% if @user == current_user %>
      <%= content_tag(:h4, 'My Societies:') %>
    <% else %>
      <%= content_tag(:h4, "User's Societies:") %>
    <% end %>
    <ul>
      <% if @camdram_societies.count == 0 %>
        <li>
          None!
        </li>
      <% else %>
        <%= render @camdram_societies %>
      <% end %>
    </ul>
  <% end %>
<% end %>
