<% content_for :noindex, true %>
<% content_for :title, @user.name %>
<% content_for :heading, 'User Details' %>
<% content_for :controller_links do %>
  <%= link_to 'Back to Users', users_path, class: 'btn btn-outline-secondary my-md-1' %>
  <% if user_is_admin? && @user != current_user && @user != login_user %>
    <%= link_to 'Impersonate', impersonate_user_path(@user), method: :post, class: 'btn btn-outline-warning my-md-1' %>
  <% end %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary my-md-1' if can? :edit, @user %>
<% end %>

<p>
  This page list all the information we have on file for you, including your email which is used for notifications.
  Please take a moment to make sure it's accurate!
  Nobody else can view this page and we promise never to share this data with anyone.
  Any shows or societies which you can make booking on behalf of will also be listed below.
  You'll need to be authorised as an 'admin' for that show or society on Camdram for it to appear.
</p>

<%= content_tag :div, class: 'row no-gutters' do %>
  <%= content_tag :div, class: 'col-md-auto' do %>
    <%= content_tag :div, class: 'container' do %>
      <%= gravatar_image_tag(@user.email, alt: @user.name, class: 'rounded mx-auto d-block', gravatar: { size: 200, secure: true }) %>
      <p class="text-center"><%= link_to 'Setup Gravatar', 'https://en.gravatar.com' %></p>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'col' do %>
    <table class="table table-sm table-striped table-bordered mb-0">
      <tbody>
        <%= render @user %>
      </tbody>
    </table>
    <%= link_to 'Setup 2FA', show_2fa_qr_user_path(@user), class: 'btn btn-outline-primary mt-3' %>
    <%= link_to 'Logout Everywhere', logout_everywhere_user_path(@user), class: 'btn btn-outline-danger mt-3', method: :delete %>
  <% end %>
<% end %>

<hr class="mt-4 mb-1">

<%= content_tag :div, class: 'row' do %>
  <small class="col-12 mb-4 form-text text-muted">
    Information here is obtained asynchronously and may take several minutes to reflect that on Camdram.
  </small>
  <%= content_tag :div, class: 'col-12 col-md-6 mb-3' do %>
    <% if @user == current_user %>
      <%= content_tag(:h4, 'My Shows:') %>
    <% else %>
      <%= content_tag(:h4, "User's Shows:") %>
    <% end %>
    <div class="list-group list-group-flush">
      <% if @user.camdram_shows.nil? %>
        <div class="list-group-item list-group-item-action">Unknown!</div>
      <% elsif @user.camdram_shows.count == 0 %>
        <div class="list-group-item list-group-item-action">None!</div>
      <% else %>
        <%= render @user.camdram_shows %>
      <% end %>
    </div>
  <% end %>
  <%= content_tag :div, class: 'col-12 col-md-6 mb-3' do %>
    <% if @user == current_user %>
      <%= content_tag(:h4, 'My Societies:') %>
    <% else %>
      <%= content_tag(:h4, "User's Societies:") %>
    <% end %>
    <div class="list-group list-group-flush">
      <% if @user.camdram_societies.nil? %>
        <div class="list-group-item list-group-item-action">Unknown!</div>
      <% elsif @user.camdram_societies.count == 0 %>
        <div class="list-group-item list-group-item-action">None!</div>
      <% else %>
        <%= render @user.camdram_societies %>
      <% end %>
    </div>
  <% end %>
<% end %>
