<% content_for :title, 'About' %>
<% content_for :heading, 'About Room Booking' %>
<p>
  The ADC Room Booking System handles rehearsal space scheduling for the <%= link_to 'ADC Theatre', 'https://www.adctheatre.com' %> and supports the local performing arts community in the historic university city of Cambridge, England.
  Anyone can view bookings publically however you will need to login with your <%= link_to 'Camdram', 'https://www.camdram.net' %> account to make bookings on behalf of a show or society that you administer.
  If you need to make a booking for something other than a meeting or rehearsal, or are otherwise not authorised to make bookings, please speak to a member of Management.
</p>
<p>
  The Room Booking System is an <%= link_to 'open source', 'http://opensource.org/docs/osd' %> project hosted on <%= link_to 'GitHub', 'https://github.com/' %>.
  If you'd like to get involved and contribute you can visit the project's <%= link_to 'repository page', 'https://github.com/CHTJonas/roombooking' %> which contains a copy of the code that runs this site, as well details about known bugs.
  If you have some programming knowledge and think you can help, please 'fork' the repository and submit a 'pull request' for review.
  If you don't have any programming knowledge but you think you've found something that's wrong, not working quite right or simply have an idea for a really cool new feature, you can create a new issue on GitHub.
</p>
