<% content_for :title, @room.name %>
<% content_for :heading, 'Room Calendar' %>

<% content_for :controller_links do %>
  <p class="mb-0"><%= link_to 'Edit', edit_room_path(@room) %></p>
  <p class="mb-0"><%= delete_confirm 'Delete', @room %></p>
<% end if can? :manage, @room %>

<%= week_calendar(events: events_for(@room), partial: 'calendar/roombooking_calendar') do |date, events| %>
  <% events.each do |event| %>
    <%= link_to event.booking, { style: event_div_styles(event), class: 'booking' } do %>
      <%= event.booking.name %>
      <%= content_tag :span, class: 'time' do %>
        <%= event_time_range(event) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render 'backfooter' %>
