<% content_for :noindex, true %>
<% content_for :title, 'Configure Shows' %>
<% content_for :heading, 'Configure Shows' %>

<p>
  Here you can import shows from Camdram that aren't yet known to the internals of
  Room Booking. Once they're imported you can activate and deactivate them, as
  well as set limits on the total number of hours that they may make bookings for
  in a single week. Shows here are populated based on the upcoming shows listed on
  Camdram. If the show you're after isn't listed, you can manually import it using
  its URL. To import all upcoming shows you can perform a batch import. Old shows
  will automatically be disabled and new bookings will not be accepted, but old
  bookings will otherwise be preserved for historic record.
</p>

<%= render 'import_tools' %>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Show Name') %>
      <%= content_tag(:td, 'Status') %>
      <%= content_tag(:td, 'Booking Hours per Week') %>
    <% end %>
  </thead>
  <tbody>
    <% @show_tuples.each do |show_tuple| %>
      <%= render 'camdram_show', camdram_show: show_tuple.first, roombooking_show: show_tuple.second %>
    <% end %>
  </tbody>
</table>

<%= paginate @show_tuples %>
