<% content_for :title, 'Configure Shows' %>
<% content_for :heading, 'Configure Shows' %>

<p>
  Here you can import shows from Camdram that aren't yet known to the internals of Room Booking.
  Once they're imported you can activate and deactivate them, as well as set limits on the total booking hours they're allowed per week.
  You can choose to either import a batch of upcoming shows all at once, or manually import a specific show using the interface below.
  Shows are populated based on upcoming shows as defined by Camdram. If the show you're after isn't listed, you can manually import it by URL.
  Starting a new term will preserve old shows and their bookings for historic record, but otherwise disable them from the system.
</p>

<%= render 'import_tools' %>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Show Name') %>
      <%= content_tag(:td, 'Status') %>
      <%= content_tag(:td, 'Booking Hours per Week') %>
    <% end %>
  </thead>
  <tbody>
    <% @show_tuples.each do |show_tuple| %>
      <%= render 'camdram_show', camdram_show: show_tuple.first, roombooking_show: show_tuple.second %>
    <% end %>
  </tbody>
</table>

<%= paginate @show_tuples %>
