<% content_for :noindex, true %>
<% content_for :title, 'Configure Shows' %>
<% content_for :heading, 'Configure Shows' %>

<p>
  Here you can import shows that are listed on Camdram but that aren't yet known
  to the internals of Room Booking. Once shows are imported, you can activate and
  deactivate them as well as set limits on the total number of hours that they may
  make bookings for in a single week. If the show you're looking for isn't listed
  here then you can manually import it using its URL. To import all upcoming shows
  at once you can perform a batch import.
</p>

<p>
  Old shows will automatically be marked as dormant on a periodic basis. When
  this happens they will disappear from the list here and users will be unable to
  make new bookings connected with the show; however, old bookings will be
  preserved for historic record.
</p>

<%= render 'batch_job_results' %>
<%= render 'import_tools' %>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Show Name') %>
      <%= content_tag(:td, 'Status') %>
      <%= content_tag(:td, 'Booking Hours per Week') %>
    <% end %>
  </thead>
  <tbody>
    <% @show_tuples.each do |show_tuple| %>
      <%= render 'camdram_show', camdram_show: show_tuple.first, roombooking_show: show_tuple.second %>
    <% end %>
  </tbody>
</table>

<%= paginate @show_tuples %>
