<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ADC Theatre">
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : "Roombooking" %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ADC Roombooking System" %>">
    <title>ADC Room Booking<%= ": #{yield(:title)}" if content_for?(:title) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application', 'admin', 'favourites', 'flatpicker' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.png', type: 'image/png' %>
    <%= favicon_link_tag '/logo-500x500.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <%= render 'peek/bar' %>
      <%= render 'layouts/navbar' %>
    </header>
    <%= render 'cookies_eu/consent_banner', link: '/cookies' %>
    <%= render 'layouts/modal' %>
    <main role="main" class="container flex-shrink-0 mt-3 mb-4">
      <div class="d-flex flex-column flex-md-row">
        <div class="mr-auto">
          <% if content_for?(:heading) %>
            <h1>
              <%= yield(:heading) %>
            </h1>
          <% end %>
        </div>
        <div class="align-self-md-center">
          <div class="controller-links my-1 my-md-0">
            <% if content_for?(:controller_links) %>
              <%= yield(:controller_links) %>
            <% end %>
          </div>
        </div>
      </div>
      <hr class="mt-2 mt-md-3">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </main>
    <footer class="mt-auto py-3  border-top bg-light">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
