<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ADC Theatre">
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : "Roombooking" %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ADC Roombooking System" %>">
    <title>ADC Room Booking<%= ": #{yield(:title)}" if content_for?(:title) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'peek/bar' %>
    <%= render 'cookies_eu/consent_banner', link: '/cookies' %>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main role="main" class="container mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="p-2">
          <% if content_for?(:heading) %>
            <h1>
              <%= yield(:heading) %>
            </h1>
          <% end %>
        </div>
        <div class="p-2">
          <% if content_for?(:controller_links) %>
            <%= yield(:controller_links) %>
          <% end %>
        </div>
      </div>
      <hr class="mt-0 mb-4"/>
      <%= render 'layouts/alert' %>
      <%= yield %>
    </main>
  </body>
</html>
