<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ADC Theatre">
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : "Roombooking" %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ADC Roombooking System" %>">
    <title>ADC Room Booking<%= ": #{yield(:title)}" if content_for?(:title) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'cookies_eu/consent_banner', link: '/cookies' %>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main role="main" class="container mt-3">
      <% if content_for?(:heading) %>
        <h1 class="mt-3 mb-4"><%= yield(:heading) %></h1>
      <% end %>
      <% if content_for?(:controller_links) %>
        <div class="alert alert-primary" role="alert">
          <%= yield(:controller_links) %>
        </div>
      <% end %>
      <%= render 'layouts/alert' %>
      <%= yield %>
    </main>
  </body>
</html>
