<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'mail' %>
  </head>
  <body>
    <% if content_for?(:heading) %>
      <header><h2><%= yield(:heading) %></h2></header>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="left">
          <img src="/logo-long-black.svg" alt="ADC Theatre" width="160">
        </div>
        <div class="right">
          <%= link_to 'Room Bookings System', root_url %>
          &nbsp;&nbsp;&#124;&nbsp;&nbsp;
          <%= link_to 'ADC Main Site', 'https://www.adctheatre.com' %>
        </div>
      </div>
    </footer>
  </body>
</html>
