<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'mail' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= link_to root_url do %>
          <img src="<%= Roombooking::Host.url("logo-long-white.svg") %>" alt="ADC Theatre" width="240" height="50">
        <% end %>
      </header>
      <main>
        <% if content_for?(:heading) %>
          <h2 class="heading"><%= yield(:heading) %></h2>
        <% end %>
        <%= yield %>
      </main>
      <footer>
        <%= link_to 'Room Bookings System', root_url %>
        &nbsp;&nbsp;&#124;&nbsp;&nbsp;
        <%= link_to 'ADC Main Site', 'https://www.adctheatre.com' %>
      </footer>
    </div>
  </body>
</html>
